
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: url('c:\Users\Marange\Downloads\Food.jpg');
  background-size: cover;
  background-position: center;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center-left;
}


section {
  margin: 2rem 0 1rem;
}


.controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; 
  max-width: 300px; 
}

input {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 4px;
}

button {
  padding: 0.5rem 1rem;
  background-color: #546c63;
  color: #f3f3f3;
  border: none;
  border-radius: 4px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #93c47d;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.meals {
  display: flex;
}


img {
  width: 100%;
  margin-bottom: 1rem;
}


article {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 1rem;
  max-width: 300px;
  box-shadow: 0 4px 8px 2px rgb(90, 135, 135);
}


ul {
  list-style: none;
}

.meal {
  background-color: #b5b209; 
  padding: 20px; 
  margin-bottom: 20px; 
}

.instructions {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  background-color: #98411f;
  color: #f3f3f3;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #7c7485;
  
}

@media only screen and (max-width: 1024px) {
  .meals {
    flex-direction: column;
    align-items: center;
  }

  .nutrients ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
  }
}
