body {
  margin: 0;
  padding: 0;
  background-image: url('c:\Users\Marange\Downloads\Food.jpg');
  background-size: cover; 
  background-position: center; 
}

.App {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.mealData {
  padding: 20px; 
  background-color: rgba(255, 255, 255, 0.8); 
}

.controls {
  margin-top: 50px;
}

.controls input {
  margin-right: 10px;
}

.controls button {
  padding: 10px 20px;
  font-size: 16px;
}
