
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main-content {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
  padding: 20px;
  width: 100%;
}

.article {
  background-color: #cc7e7e;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(225, 44, 44, 0.1);
  flex-basis: calc(50% - 20px); 
  margin: 10px;
  padding: 20px;
}

.article h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.article p {
  font-size: 14px;
  line-height: 1.5;
}
